<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Front-End Design Demo</title>
    <link rel="icon" href="assets/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="hero">
      <div class="container">
        <div class="hero-content">
          <span class="uptitle">FIAP • Front-End Design</span>
          <h1>CONSTRUINDO LAYOUTS PARA O MERCADO.</h1>
          <p>
            Transforme estrutura em experiências digitais utilizando HTML, CSS e
            boas práticas de UX.
          </p>
          <a
            href="https://www.fiap.com.br/graduacao/bacharelado/engenharia-de-software/"
            target="_blank"
            class="btn"
            >Começar agora
          </a>
        </div>
      </div>
    </header>

    <main class="container">
      <section class="benefits">
        <div class="benefit">
          <h3>💻 HTML5</h3>
          <p>Estrutura semântica e acessível.</p>
        </div>

        <div class="benefit">
          <h3>🎨 CSS3</h3>
          <p>Estilização, hierarquia visual e layouts responsivos.</p>
        </div>

        <div class="benefit">
          <h3>🧠 UX</h3>
          <p>Interfaces pensadas para a navegação do usuário.</p>
        </div>

        <div class="benefit">
          <h3>📱 Responsividade</h3>
          <p>Experiência consistente em qualquer tela.</p>
        </div>
      </section>

      <section class="projects">
        <h2>O que você irá desenvolver</h2>

        <div class="project-grid">
          <article class="project-card">
            <h3>Landing Page</h3>
            <p>Aplicando HTML semântico e CSS moderno.</p>
          </article>

          <article class="project-card">
            <h3>Marketplace</h3>
            <p>Componentes reutilizáveis e UX.</p>
          </article>

          <article class="project-card">
            <h3>Dashboard</h3>
            <p>Layout responsivo utilizando Grid.</p>
          </article>
        </div>
      </section>

      <section class="cta">
        <h2>Pronto para criar experiências digitais?</h2>

        <a
          href="https://www.fiap.com.br/graduacao/bacharelado/engenharia-de-software/"
          target="_blank"
          class="btn"
          >Conheça o curso</a
        >
      </section>
    </main>

    <footer>
      <div class="container">
        <p>
          Designed and coded by Nicolas Enne for FIAP Interview • © 2026 FIAP
          and its affiliates. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
